body{
  background-color:#D65DB1;
}

h1 {
  font-size: 40px;
  border: 5px dashed #F9F871;
  border-radius: 40px;
  color: #FFC75F;
  font-family:Georgia;
  width: 760px;
}
a {
color: black;
font-family:Georgia;
width: 500px;
}
p{
  width: 600px;
  color: pink;
  border-top-style: groove;
  border-right-style: groove;
  border-bottom-style: groove;
  border-left-style: groove ;
  font-family:
}

p:hover {
  color:yellow;
  background-color: blue;
  border: 20px groove blue;
  border-radius: 50px;

}
li{
font-family:Courier;
width: 100px;
}
li:hover{
  color:yellow;

}
h1:hover{
  background-color: crimson;
  border-color: pink;
}
a:hover{
  color: crimson;
}
.menu{
  margin-right: 5px;
}
#menu:hover {
  margin: 5px;
  border: 10px groove blue;
  border-radius: 40px;
}

.Hoofdpagina{
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}
#Hoofdpagina:hover{
  margin: 5px;
  border: 10px
}
table{
  color:#FFC75F;
  background-color: #D65DB1;
  border-top-style: groove;
  border-right-style: groove;
  border-bottom-style: inset;
  border-left-style: groove ;
}

img{
  width: 300px;
  height: 300px;
}
.Vragen{
  color:#D65DB1;

}
#Vragen:hover{
  color:yellow;
  margin: 5px;
  border: 10px groove blue;
  border-radius: 40px;
}
.lijst{
  list-style: inside upper-roman none;
}
#lijst{
  list-style: inside upper-roman none;
  width: 400px;
  border: 10px inset yellow;
  border-radius: 0px
}
ul.voordelen{
  list-style: inside circle none; 
  width: 400px;
  border: 10px inset yellow;
  border-radius: 0px
  }
